<footer class="">
    <div class="bg-gray-color text-white py-5 upper-content text-center">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
          <div class="col">
            <div class="card h-100 text-white bg-transparent border-0 ">
              <div class="card-body">
                <h3 class="text-uppercase">location</h3>
                <span class="text-capitalize">2215 john daniel drive</span>
                <span class="d-block">Clark, MO 65243</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 text-white bg-transparent border-0">
              <div class="card-body">
                <h3 class="text-uppercase">around the web</h3>
                <ul class="mt-2 social-list d-flex justify-content-center align-items-center gap-3 p-0">
                  <li>
                    <a href="https://www.facebook.com/" aria-label="facebook link" target="_blank">
                      <i class="fa-brands fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.twitter.com/" target="_blank" aria-label="twitter link">
                      <i class="fa-brands fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank" aria-label="linkedin link">
                      <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.globe.com/" target="_blank" aria-label="global link">
                      <i class="fa-solid fa-globe"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 text-white bg-transparent border-0">
              <div class="card-body">
                <h3 class="text-uppercase">about freelancer</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-content">
      <p class="text-capitalize m-0">copyright &copy; your website 2021</p>
    </div>
  </footer>