<section
  class="about bg-green-color d-flex justify-content-center align-items-center"
>
  <div class="container content text-white text-center">
    <div class="my-5">
      <app-main-title [title]="'start framework'"></app-main-title>
    </div>
    <div class="row row-cols-1 row-cols-md-2 text-start gy-4">
      <div class="col">
        Freelancer is a free bootstrap theme created by Route. The download
        includes the complete source files including HTML, CSS, and JavaScript
        as well as optional SASS stylesheets for easy customization.
      </div>
      <div class="col">
        Freelancer is a free bootstrap theme created by Route. The download
        includes the complete source files including HTML, CSS, and JavaScript
        as well as optional SASS stylesheets for easy customization.
      </div>
    </div>
  </div>
</section>