<section class="home bg-green-color d-flex py-4 justify-content-center align-items-center">
    <div class="content text-white text-center">
      <span class="home-image">
        <img src="./assets/images/home-imag.svg" class="w-100 d-block" alt="personal image">
      </span>
        <app-main-title [title]="'start framework'"></app-main-title>
      <ul class="skills-list">
        <li>Graphic Artist</li>
        <li>Web Designer</li>
        <li>illustrator</li>
      </ul>
    </div>
  </section>